@import '../../../styles/breakpoints.scss';
@import '../../../styles/variables.scss';

.Modal {
	position: fixed;
	z-index: 500;
	background-color: $background;
	width: 70%;
	border-radius: 3px;
	box-shadow: 0px 0px 10px $black;
	color: $background;
	left: 15%;
	top: 30%;
	box-sizing: border-box;
	transition: all 0.3s ease-out;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: center;
	@include desktop {
		width: 500px;
		left: calc(50% - 250px);
	}
	.ModalHeader {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $secondary;
		width: 100%;
		height: 2.5rem;
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		.ModalTitle {
			color: $background;
			font-size: 1rem;
		}
		.ModalExit {
			font-size: 1rem;
			position: absolute;
			right: 0;
			top: 0;
			user-select: none;
			&:hover {
				cursor: pointer;
			}
		}
	}
	.ModalBody {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-bottom: 8px;
		padding-top: 16px;
	}
	.ModalFooter {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-bottom: 8px;
		padding-top: 8px;
		.CloseIcon {
			font-size: 1rem;
		}
		.CloseText {
			font-size: 0.8rem;
		}
	}
}
