@import '../../../../styles/breakpoints.scss';
@import '../../../../styles/variables.scss';

.MenuItem {
	display: flex;
	flex-flow: row;
	justify-content: space-between;
	align-items: center;
	padding: 2px;
	&:hover {
		cursor: pointer;
	}
	.MenuIcon,
	.MenuText {
		color: $background;
		@include mobile-device {
			color: $secondary;
			font-size: 2rem;
		}
	}

	.MenuText {
		display: none;
		@include mobile-device {
			display: block;
			margin: 0;
			margin-left: 8px;
		}
	}
}
