@import '../../styles/variables.scss';
@import '../../styles/breakpoints.scss';

.Auth {
	width: 100%;
	@include desktop {
		padding-top: 16px;
		width: 30%;
		display: inline-block;
	}
	.AuthSwitch {
		display: inline-flex;
		flex-flow: row;
		justify-content: center;
		align-items: center;
		width: 100%;
		.Separator {
			color: $primary;
		}
	}
}

.Card {
	background-color: $background;
}
