@import '../../styles/variables.scss';
@import '../../styles/breakpoints.scss';

.Auth {
	display: inline-block;
	padding: 8px 16px;
	border-radius: 5px;
	box-shadow: 0px 0px 7px $black;
	.AuthSwitch {
		display: inline-flex;
		flex-flow: row;
		justify-content: center;
		align-items: center;
		width: 100%;
		.Separator {
			color: $primary;
		}
	}
}
