@import './styles/variables.scss';

html,
body {
	height: 100%;
	background-color: $background;
	background-image: url('./assets/images/kitchen.jpg');
	background-attachment: fixed;
}

body {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: 'Montserrat', sans-serif;
}
